<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subitem_category.name %>
</p>

<%= link_to 'Edit', edit_subitem_category_path(@subitem_category) %> |
<%= link_to 'Back', subitem_categories_path %>
